.show1{
    margin-top: 50px;
    margin-inline: 30px;
}
.remove1{
    margin-top: 50px;
    margin-inline: 30px;

}
.add1{
    margin-top: 50px;
    margin-inline: 30px;

}
.add2{
    margin-top: 50px;
    margin-inline: 30px;
}
.table{
    margin-top: 20px;
    margin-left: 45vh;
    
}